<html>
<head></head>
<body>



  <div>
    <a href="/blogs">View All Blog Posts</a>
    <a href="/blogs/new">Add New Blog Entry</a>
      <h1>Add New Blog Entry</h1>
  </div>

  <form action="/blogs" method="POST">
      <input type="text" name = "title" placeholder="Enter name" />
      <input type="text" name = "description" placeholder="Enter URL or Browse Computer" />
   
      <input type="submit" value="Submit" />
  </form>


</body>
</html>
